body {
  font-family:Raleway;
  color: beige;
  text-align: center;
  display: flex;
  place-items: center;
  flex-direction: column;
}

h1 {
  color:white;
  /* text-shadow: black 1px 1px; */
  font-size: 2.5em;
  margin-top: -2px;
}

label {
  color: white;
  margin-top: -20px;
}

input {
  margin-top: 5px;
  border-color: white;
}

.submit-button {
  padding: 2px 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-color: white;
  font-weight: bold;
  color: lightblue;
}

.white-color {
  background:white;
}

.grey-color {
  background: grey;
}

.pink-color {
  background: pink;
}

.teal-color {
  background:teal;
}

.red-color {
  background:rgb(222, 51, 51);
}

.orange-color {
  background:orange;
}

.yellow-color {
  background:rgb(237, 237, 133);
}

.green-color {
  background:green;
}

.blue-color {
  background:rgb(42, 109, 224);
}

.purple-color {
  background:rgb(100, 29, 100);
}

.gold-color {
  background:goldenrod;
}

.black-color {
  background: black;
}

.silver-color {
  background: silver;
}

.brown-color { 
  background:brown;
}


button {
  padding: 100px 100px;
  background: white;
}

.reset-button {
  padding: 2px 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-color: white;
  font-weight: bold;
  color: lightblue;
}

.game-button {
  border-color:white;
  border-radius:5%;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 3px;
  margin-right: 3px;
}

.blackButton{
  background-color: black;
  color:white;
}

.whiteButton{
  background-color: white;
  color: black;
}
.row {
  flex-direction: row;
}
:root {
  background-color: lightblue;
}

